[submodule "lib/advanced-custom-fields"]
	path = lib/advanced-custom-fields
	url = https://github.com/elliotcondon/acf.git
[submodule "lib/cmb2"]
	path = lib/cmb2
	url = https://github.com/WebDevStudios/CMB2.git
